 
.body {
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 70px;
	background-image: linear-gradient(170deg, #2521fe, rgb(132, 133, 185));
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}



.hero{
	width: 100;
	height: 100vmin;
	background-image: url(https://images.unsplash.com/photo-1477442229003-02551413eaad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

button{
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

.content{
	color:black;
	position: absolute;
	top: 18%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 2;

}

h1{
	font-size: 50px;
	margin: 10px 0 30px;
	line-height: 80px;
}

.places{
	padding: 10px 10px;

}
footer{
	text-align: center;
	padding-bottom: 25px;
	
}
.footertext{
	color: #fff;
}



.foot{
	width: 100%;
    height: 9vh;
	padding: 10px;
    background-image: linear-gradient(170deg, #2521fe, rgb(132, 133, 185));
}

